.AddMedia_container{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    border: 1px dashed gray;
    width: fit-content;
    gap: 40px;
    padding: 20px;
}
.AddMedia_container div {
    width: 100%;
}
.Form_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.AddMedia_container .Form_container>div:first-child{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
}
.AddMedia_container .Form_container>div div{
    background-color: rgb(76, 159, 120);
    color: white;
    text-align: center;
    padding: 8px 0px;
    border: 1px solid white;
}
.AddMedia_container .Form_container>div:nth-child(3),.AddMedia_container .Form_container>div:nth-child(2){
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 20px;
    
}
.AddMedia_container .Form_container>div:nth-child(3) input,.Form_container>div:nth-child(2) select{
    padding: 10px;
    background-color: #cbcbcc3f;
    border: 0.5px dashed gray;
    border-radius: 5px;
}
.AddMedia_container .Form_container>div:nth-child(4)>button{
    font-size: 1.2rem;
    width: 15%;
    height: 5vh;
    border: none;
    background-color:  rgb(76, 159, 120);
    color: white;
    border-radius: 5px;
}